.navigate{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 135deg,$from-cl,$to-cl);
    color: #fff;
    z-index: 999;
    &.open{
        visibility:visible;
    }
    &__wrapper{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-nav{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            a{
                @include rem(70px);
                line-height: 5rem;
                padding-bottom: 27px;
            }
        }
        &-social{

        }
    }
}