.footer{
    --padding:90px 0;
    --lineHeight:36px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    color: $text-cl;
    &__wrap{
        padding:var(--padding);
        width: 90%;
        height: 100%;
        background-image: linear-gradient( 135deg,$from-cl,$to-cl);
        display: flex;
        justify-content: space-around;
        .menu{
            display: flex;
            flex-direction: column;
            a{
                @include rem($fz-text-footer);
                line-height: var(--lineHeight);
            }
        }
        .contact{
            display: flex;
            flex-direction: column;
            &__info{
                margin-bottom: 100px;
                p,span{
                    @include rem($fz-text-footer);
                    line-height: var(--lineHeight);
                }
                &-email,&-address {
                    margin-bottom: 26px;
                }
            }
            &__social{
                margin-bottom: 100px;
                display: flex;
                flex-direction: column;
                a{
                    @include rem($fz-text-footer);
                    line-height: var(--lineHeight);
                }
            }
            &__license{
                display: flex;
                flex-direction: column;
                span{
                    @include rem($fz-text-footer);
                    line-height: var(--lineHeight);
                }
            }
        }
    }
    &__btt{
        padding:var(--padding);
        position: absolute;
        width: 10%;
        bottom: 0;
        right: 0;
        &-btn{
            cursor: pointer;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border: none;
            outline: none;
            background: unset;
            padding: 0;
            margin: 0;
        }
    }
    @include lg {
        &__wrap{
            width: 100%;
        }
        &__btt{
            display: none;
        }
    }
    @include md{
        &__wrap{
          flex-direction: column;
          padding-right: 15px;
          padding-left: 15px;
        }
    }
}