/* FONT FACE - font-display: fallback; */
@font-face {
    font-family: "pr";
    src: url("../public/fonts/ProximaNova-Regular.woff2") format("woff2"),
        url("../public/fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "pb";
    src: url("../public/fonts/ProximaNova-Bold.woff2") format("woff2"),
        url("../public/fonts/ProximaNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "pe";
    src: url("../public/fonts/ProximaNovaA-Extrabld.woff2") format("woff2"),
        url("../public/fonts/ProximaNovaA-Extrabld.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}
